/*#region Roboto */
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto.ttf'), url('../fonts/roboto.woff');
}

@font-face
{
    font-family: 'Roboto';
    src: url('../fonts/robotobold.ttf'), url('../fonts/robotobold.woff');
    font-weight:bold;
}
/*#endregion */

/*#region UtmSeagull */
@font-face {
    font-family: 'UtmSeagull';
	src: url('../fonts/utmseagullbold.ttf'), url('../fonts/utmseagullbold.woff');
    font-weight:bold;
}

@font-face {
    font-family: 'UtmSeagull';
	src: url('../fonts/utmseagullbolditalic.ttf'), url('../fonts/utmseagullbolditalic.woff');
    font-weight:bold;
    font-style:italic;
}
/*#endregion */

/*#region UvnVan */
@font-face {
    font-family: 'UvnVan';
	src: url('../fonts/uvnvan.ttf'), url('../fonts/uvnvan.woff');
}

@font-face {
    font-family: 'UvnVan';
	src: url('../fonts/uvnvanbold.ttf'), url('../fonts/uvnvanbold.woff');
    font-weight:bold;
}
/*#endregion */

/*#region UtmAndrogyne */
@font-face {
    font-family: 'UtmAndrogyne';
	src: url('../fonts/UtmAndrogyne.ttf'), url('../fonts/UtmAndrogyne.woff');
}
/*#endregion */

/*#region SegoeUI*/
@font-face {
    font-family: 'SegoeUI';
    src: url('../Fonts/Segoe_UI/SegoeUI-Bold.eot') format('embedded-opentype'), url('../Fonts/Segoe_UI/SegoeUI-Bold.svg') format('svg'), url('../Fonts/Segoe_UI/SegoeUI-Bold.ttf') format('truetype'), url('../Fonts/Segoe_UI/SegoeUI-Bold.woff') format('woff');
	font-weight: bold;
}
@font-face {
    font-family: 'SegoeUI';
    src: url('../Fonts/Segoe_UI/SegoeUI-Italic.eot') format('embedded-opentype'), url('../Fonts/Segoe_UI/SegoeUI-Italic.svg') format('svg'), url('../Fonts/Segoe_UI/SegoeUI-Italic.ttf') format('truetype'), url('../Fonts/Segoe_UI/SegoeUI-Italic.woff') format('woff');
	font-weight: lighter;
}
@font-face {
    font-family: 'SegoeUI';
    src: url('../Fonts/Segoe_UI/SegoeUI.eot') format('embedded-opentype'), url('../Fonts/Segoe_UI/SegoeUI.svg') format('svg'), url('../Fonts/Segoe_UI/SegoeUI.ttf') format('truetype'), url('../Fonts/Segoe_UI/SegoeUI.woff') format('woff');
}
/*#endregion*/

/*#region UTMAlexander*/
@font-face {
    font-family: 'UTMAlexander';
    src: url('../Fonts/UTM_Alexander/UTMAlexander.eot') format('embedded-opentype'), url('../Fonts/UTM_Alexander/UTMAlexander.svg') format('svg'), url('../Fonts/UTM_Alexander/UTMAlexander.ttf') format('truetype'), url('../Fonts/UTM_Alexander/UTMAlexander.woff') format('woff');
}
/*#endregion*/